*{
    margin:0;
    padding:0;
}

:root{
    --brightBlue: hsl(220, 98%, 61%);
    --checkBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    --veryLightGray: hsl(0, 0%, 98%);
    --veryLightGrayishBlue: hsl(236, 33%, 92%);
    --lightGrayishBlue: hsl(233, 11%, 84%);
    --darkGrayishBlue: hsl(236, 9%, 61%);
    --veryDarkGrayishBlue: hsl(235, 19%, 35%);
}

body{
    font-family: 'Josefin Sans', sans-serif;
    font-size:18px;
}

.container{
    width:100%;
}

header{
    width:100%;
    height: 250px;
    background-image: url("img/bg-desktop-light.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    margin:0 auto;
}

.header-title{
    width:40%;
    height:auto;
    margin:0 auto;
    padding: 20px;
    
}

header h1{
    text-transform: uppercase;
    color:white;
    letter-spacing:10px;
    margin-top:48px;
    margin-left:10px;
}

.header-title span{
    display:inline-block;
    width:26px;
    height:26px;
    background-image: url("img/icon-moon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    margin-left:300px;
}

.header-input{
    width:40%;
    margin:0 auto;
}

.header-input span{
    display: inline-block;
    width:25px;
    height:25px;
    border:2px solid var(--darkGrayishBlue);
    border-radius:100%;
}

#todo{
    width:92%;
    height:55px;
    margin-top:10px;
    margin-left:10px;
    border-radius:5px;
    border:none;
    color:var(--darkGrayishBlue);
    padding-left:5px;
    letter-spacing: 1px;
    font-size:1rem;
}

#todo:focus{
    outline:none;
}





